{% block content %}
<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p class="copyright text-muted">Created with Python, sewn together by Jinja2, hosted using the Flask micro-framework!</p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<link href="{{ url_for('static', filename='bootstrap-4.1.3-dist/jquery/jquery.js') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='bootstrap-4.1.3-dist/js/bootstrap.js') }}" rel="stylesheet">

<!-- Custom scripts for this template -->
<link href="{{ url_for('static', filename='js/bootstrap.js') }}" rel="stylesheet">

</body>

</html>

{% endblock %}