{% include "header.html" %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% block content %} {% with messages = get_flashed_messages() %} {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %} {% endwith %} {% for post in posts %}
            <div class="post-preview">
                <h2 class="post-title">
                    {{ post.user }} Says:
                </h2>
                <h3 class="post-subtitle">
                    {{ post.message }}
                </h3>
                <p class="post-meta">Posted at: {{ post.time }} on {{ post.date }}. <a href="/verify">{{ post.verify }}</a>/<a href="/unverify">{{ post.unverify }}</a>?</p>
            </div>
            <hr> {% endfor %}
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
            {% endblock %}
        </div>
    </div>
</div>

{% include "footer.html" %}