{% include "header.html" %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% block content %}
            <div class="post-preview">
                <h2 class="post-title">
                    Post a tip!
                </h2>
                <h3 class="post-subtitle">
                    <form action="" method="post" novalidate>
                        {{ form.user(class='form-control', id='user', placeholder='Your name (optional)') }}
                        <br> {{ form.message(class='form-control', id='message', placeholder='Your message (required)') }} {% for error in form.message.errors %}
                        <span style="color: red;">[{{ error }}]</span> {% endfor %}
                </h3>
            </div>
            <hr>
            <!-- Pager -->
            <div class="clearfix">
                {{ form.submit(class="btn btn-primary float-right") }}
            </div>
            </form>
            {% endblock %}
        </div>
    </div>
</div>

{% include "footer.html" %}