{% include "header.html" %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% block content %}
            <div class="post-preview">
                <h2 class="post-title">
                    Verify
                </h2>
                <p>Thank you for verifying this posts authenticity, if we receive more unverified signatures from unique users we will remove this post!</p>
            </div>
            {% endblock %}
        </div>
    </div>
</div>

{% include "footer.html" %}